@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caprasimo&family=Chela+One&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Mynerve&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Satisfy&display=swap');

:root {
    --border-media: #7c542c62;
    --border-escura: #533516;
    --border-claro:hsla(106, 24%, 86%, 0.986);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: radial-gradient(circle, rgba(133, 211, 134, 0.986) 2%, #a5682bcc);
    background-size: 1366px;
}

.altera-fontes {
    font-size: 2rem; 
    font-family: 'Mynerve', cursive;
}

.container1 {
    display: block;
    width: 100%;
}

.secao {
    width: 75%;
    float: right;
    height: 100%;
}

aside {
    display: flex;
    flex-direction: column;
    background-color: rgba(104, 230, 106, 0.596); 
    width: 25%;
    height: 100%;
    position: fixed;
}

h1{
    font-size: 3rem;
    font-weight:lighter;
}

aside a{
    font-family: 'Crimson Text', serif;
    font-size: 1.20rem;
    text-decoration: none;
    color: inherit;
}

.foto {
    border-radius: 100%;
    border-style: double;
    border-color: #7c542c62;
    border-width: 8px;
    height: 250px;
    width: 250px;
    padding: 4px;
}

aside ul li{
    list-style: none;
    padding: 4px;
    text-align: justify;
}

.github {
    margin-left: 18px;
}

.item-1 {
    padding: 10px 40px;
    width: 100%;
    text-align: justify;
}

h2{
    font-size: 2.5rem;
    font-weight: lighter;
}

.item-1 p{
    font-size: 1rem;
    font-family: 'Crimson Text', serif;
    font-weight: bold;
}

.item-1 ul li {
    list-style: none;
    font-size: 0.90rem;
    font-family: 'Crimson Text', serif;
    font-weight: bold;
}

.item-2 {    
    padding: 10px 40px;
    width: 100%;
    text-align: justify;
}

#carouselExample {
    padding: 25px 50px;
}

.carousel-item img{   
    border-style:double;
    border-width: 2px;
    border-color: var(--border-escura);
    border-radius: 25px;
}


.item-2 p{
    font-size: 1rem;
    font-family: 'Crimson Text', serif;
    font-weight: bold;
}

.item-3 {  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    text-align: justify;
    padding: 18px;
}

.item-3 h2 {
    padding: 10px 40px;
    width: 100%;
    text-align: justify;
}

article {
    padding: 0;
    font-size: 1rem;
    font-family: 'Crimson Text', serif;
    font-weight: bold;
}

.card {
    background-color: var(--border-media);       
    display: flex;
    flex-wrap: wrap;
    margin: 12px;
    padding: 8px 12px;
    align-items: center;
    gap: 8px;
    text-align: center;
    border-radius: 12%;
    border-style:double;
    border-width: 2px;
    border-color: #533516;
}

.card img {
    border-radius: 100%;
    border-color: hsla(106, 24%, 86%, 0.986);
    border-style:double;
    border-width: 4px;
    height: 160px;
    width: 160px;
}

.card p {
    width: 230px;
}

.btn-outline-success{
    padding: 3px;
    border-color: hsla(106, 24%, 86%, 0.986);    
    border-style:double;
    font-size: 1.40rem;
    font-family: 'Mynerve', cursive;
    font-weight:bold;
    color: rgba(31, 27, 27, 0.897);
}

.btn-outline-success a{
    text-decoration: none;
    color: inherit;
}

.whats {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-style: none;
    border-radius: 100%;
}

footer {
    font-size: 0.60rem;
    bottom: 0;
    display: inline-block;
    position:static;
    width: 100%;
    color: black;
    margin-top: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .container1 {
        display: inline-block;
        width: 100vw;
    }

    .side aside{
        width: 100vw;
        flex-direction: column;
        height: 100%;
        position: inherit;
    }

    .secao{
        width: 100vw;
        float: none;
        height: 100%;
    }
}

@media screen and (max-width: 767px){
    .container1 {
        display: inline-block;
        width: 100vw;
    }

    .side aside{
        width: 100vw;
        flex-direction: column;
        height: 100%;
        position: inherit;
    }

    .secao{
        width: 100vw;
        float: none;
        height: 100%;
    }
}





